<div class="shell">
    <ui-toolbar
        [tb]="SNI.toolbarConfig"
        (toggleDrawer)="toggleNav()"
        (closeDrawer)="closeNav()"
    ></ui-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="drawer-container mat-elevation-z8">
            <ui-nav-list
                (closeDrawer)="closeNav()"
                [navConfig]="SNI.toolbarConfig.navConfig"
            ></ui-nav-list>
        </mat-sidenav>
        <div [@routeAnimations]="prepareRoute(outlet)" class="router-container">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </mat-sidenav-container>
</div>
