// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

//scss reset
@import './base/reset.scss';

@import './base/mixins/scrollbars.mixin.scss';




// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


$accent-color: #ffe7e7;
$shadow: 0 16px 12px #dce1e1;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angela-henrie-primary: mat.define-palette(mat.$blue-grey-palette, A700, 200, 900);
$angela-henrie-accent: mat.define-palette(mat.$pink-palette, A400, A100, 400);

// The warn palette is optional (defaults to red).
$angela-henrie-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angela-henrie-theme: mat.define-light-theme((
  color: (
    primary: $angela-henrie-primary,
    accent: $angela-henrie-accent,
    warn: $angela-henrie-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angela-henrie-theme);



// Custom Theming for Angular Material


@import'./base/configuration.scss';



//shell
@import './apps/angelahenrie/shell/shell.scss';

//libs
@import './libs/ui/ui.scss';

//pages
@import './apps/angelahenrie/pages/pages.scss';



