.login{
  min-width: 100%;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background-color: #ffe7e7;
}

.card{

  margin: 10%;


}

.cardHeader{
padding-top: 10%;
display: flex;
flex-direction: column;
align-items: center;





}

.cardContent{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

}

form{
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  padding-top: 10px;
  width:100%;




}
.formQ{
  width:66%;
}
.spacer{
  width: 66%;
  margin: 5px;
}
.cardActions{
display: flex;
flex-direction: column;
align-items: center;





}
.btn{

  width: 100%


}
